/*
Follow following guides/rules when editing CSS in this project:
- BEM http://getbem.com/introduction/
- Airbnb Styleguide https://github.com/airbnb/css
*/

body {
  text-align: center;
  background-color: #DBD4C4;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #47317D;
}

hr {
  margin: 2em auto;
  max-width: 450px;
  width: 90vw;
  border: 1px solid #47317D;
  border-bottom: 0;
}

header {
  margin-bottom: 2em;
  color: #47317D;
}

header img {
  margin-top: 2vh;
  width: 500px;
  max-width: 90%;
}

div.two-col {
  display: flex;
  justify-content: center;
}

div.social a,
div.location a {
  color: #47317D;
  text-decoration: none;
}

div.social a:hover,
div.location a:hover {
  text-decoration: underline;
}

div.social ul {
  margin: 0;
  list-style: none;
}

footer {
  margin-top: 2em;
}

footer a {
  color: #47317D;
}
