/*
Follow following guides/rules when editing CSS in this project:
- BEM http://getbem.com/introduction/
- Airbnb Styleguide https://github.com/airbnb/css
*/

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #47317D;
}

header {
  padding: 2em 0 0;
  text-align: center;
  background-color: #DBD4C4;
  background: linear-gradient(90deg, #CBC4B4 0%, #DBD4C4 20%, #DBD4C4 80%, #CBC4B4 100%);
}

header.floating-nav {
  margin-bottom: 70px;
}

header img {
  margin-bottom: 2em;
}

nav {
  font-size: 1.5em;
  background-color: #DBD4C4;
  background: linear-gradient(90deg, #CBC4B4 0%, #DBD4C4 20%, #DBD4C4 80%, #CBC4B4 100%);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

nav.floating {
  position: fixed;
  top: 0;
}

nav .container {
  display: flex;
  width: 100%;
  max-width: 800px;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #47317d;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1rem;
  text-decoration: none;
}

nav a:hover {
  color:white;
  background-color: rgba(71, 49, 125, 0.8);
  transition: all 0.5s ease;
}

nav .slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #47317d;
    transition: left 0.3s ease;
}

a,
a:visited {
  color: #47317D;
}

article,
footer {
  margin: 2em auto 4em;
  background-color: #fff;
  max-width: 800px;
  width: 80vw;
}

article h2,
article h3 {
  color: #EA605F;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article h2 {
  font-size: 3em;
}

article h3 {
  margin-bottom: 0.2em;
  font-size: 1.5em;
}

.separator {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.separator img {
  width: 14%;
}

.map {
  margin-left: 3em;
  margin-bottom: 3em;
  float: right;
}

.map #map {
  width: 400px;
  height: 300px;
}

.map__marker {
  width: 80px;
  height: 80px;
  background-image: url('./assets/logo.png');
  background-size: contain;
}

article#contact { }
article#contact a {
  text-decoration: none;
}
