/*
Follow following guides/rules when editing CSS in this project:
- BEM http://getbem.com/introduction/
- Airbnb Styleguide https://github.com/airbnb/css
*/

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #47317D;
}

header {
  padding: 2em 0;
  text-align: center;
}

header nav {
  margin-top: 2em;
  font-size: 1.5em;
}

a,
a:visited {
  color: #47317D;
}

article,
footer {
  margin: 2em auto 4em;
  background-color: #fff;
  max-width: 800px;
  width: 80vw;
}

article h2,
article h3 {
  color: #EA605F;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article h2 {
  font-size: 3em;
}

article h3 {
  margin-bottom: 0.2em;
  font-size: 1.5em;
}

.bg {
  background-color: #DBD4C4;
  background: linear-gradient(90deg, #CBC4B4 0%, #DBD4C4 20%, #DBD4C4 80%, #CBC4B4 100%);
}

.divider {
  padding: 1em 0;
  text-align: center;
}
.divider img {
  max-width: 9vw;
  padding: 0 1vw;
}

.map-divider {}
.map-divider #map {
  width: 100%;
  height: 200px;
}

article#contact { }
article#contact a {
  text-decoration: none;
}
